div.beta-signup { }

div.right {
  float: right;
  width: 500px;
}
div.left {
  width: 224x;
  float: left;
  text-align: center;
  padding: 60px 0 0 80px;
}

form#beta-signup-form {
  border: 1px solid #ccc;
  margin: 2em 0;
  padding: 1em;
  background: #eee;
}

form#beta-signup-form p { margin: 0; }

form input {
  border: 1px solid #3773c6;
  font-size: 14pt;
}

form button {
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  overflow: visible;
  padding: 0;
  background: #70a4ec;
  border: 1px solid #3773c6;
  padding: 4px 6px;
  margin-top: 4px;
}

#error-msg {
  margin: 0;
  padding: .5em;
  margin-bottom: .5em;
  border: 1px solid red;
  background: #fee;
  font-weight: bold;
}

