div.statentry {
   width: 600px;
   border: 1px solid #060;
   background: #afa;
   margin: 1em;
}

body {
   margin: 0;
}

div.warning {
   background: #ffa;
   border: 1px solid #630;
}

div.error {
   background: #faa;
   border: 1px solid #600;
}

.statentry h2 {
   font-size: 13pt;
   font-family: sans-serif;
   background: #0a0;
   color: white;
   padding: 5px;
   margin: 0;
   cursor: pointer;
}

.statentry h2:hover {
   text-decoration: underline;
}

.warning h2 {
   background: #ea0;
}

.error h2 {
   background: #a00;
}

.statentry th {
   padding: 3px;
   font-weight: normal;
}

.statentry td {
   text-align: left;
   padding: 3px;
   width: 400px;
   font-size: 24px;
}

.statentry table {
   width: 100%;
}

.statbody {
   display: none;
}

/*div.categorywrapper {
   -moz-column-width: 500px;
   -moz-column-gap: 20px;
   -webkit-column-width: 500px;
   -webkit-column-gap: 20px;
   column-width: 500px;
   column-gap: 20px;
}*/