*~
etherpad/etc/etherpad.local.properties
etherpad/src/etherpad/collab/ace/contentcollector.js
etherpad/src/etherpad/collab/ace/domline.js
etherpad/src/etherpad/collab/ace/easysync1.js
etherpad/src/etherpad/collab/ace/easysync2.js
etherpad/src/etherpad/collab/ace/easysync2_tests.js
etherpad/src/etherpad/collab/ace/linestylefilter.js
etherpad/src/static/js/ace.js
etherpad/src/static/js/colorutils.js
etherpad/src/static/js/cssmanager_client.js
etherpad/src/static/js/domline_client.js
etherpad/src/static/js/easysync2_client.js
etherpad/src/static/js/linestylefilter_client.js
etherpad/*.log
infrastructure/lib/cos.jar
build-arch-stamp
build-indep-stamp
configure-stamp
infrastructure/lib/mysql-connector*.jar
debian/etherpad.debhelper.log
debian/etherpad.*.debhelper
debian/etherpad.substvars
debian/etherpad
debian/files
etherpad/src/plugins/fileUpload/upload
build-stamp
infrastructure/lib/mysql-*.jar
etherpad/src/static/js/ace2_common.js
etherpad/src/static/js/ace2_common_dev.js
etherpad/src/static/js/ace2_inner.js
etherpad/src/static/js/ace2_outer.js
etherpad/src/static/js/ace2_wrapper.js
etherpad/src/static/js/bbtree.js
etherpad/src/static/js/changesettracker.js
etherpad/src/static/js/contentcollector.js
etherpad/src/static/js/cssmanager.js
etherpad/src/static/js/domline.js
etherpad/src/static/js/easy_sync.js
etherpad/src/static/js/easysync2.js
etherpad/src/static/js/easysync2_tests.js
etherpad/src/static/js/editor.css
etherpad/src/static/js/inner.css
etherpad/src/static/js/jquery-1.2.1.js
etherpad/src/static/js/lang_html.js
etherpad/src/static/js/lang_js.js
etherpad/src/static/js/lexer_support.js
etherpad/src/static/js/linestylefilter.js
etherpad/src/static/js/magicdom.js
etherpad/src/static/js/multilang_lexer.js
etherpad/src/static/js/processing.js
etherpad/src/static/js/profiler.js
etherpad/src/static/js/skiplist.js
etherpad/src/static/js/spanlist.js
etherpad/src/static/js/syntax-new.css
etherpad/src/static/js/syntax.css
etherpad/src/static/js/testcode.js
etherpad/src/static/js/toSource.js
etherpad/src/static/js/undomodule.js
etherpad/src/static/js/virtual_lines.js

.DS_Store
