*~
etherpad/etc/etherpad.local.properties
etherpad/src/etherpad/collab/ace/contentcollector.js
etherpad/src/etherpad/collab/ace/domline.js
etherpad/src/etherpad/collab/ace/easysync1.js
etherpad/src/etherpad/collab/ace/easysync2.js
etherpad/src/etherpad/collab/ace/easysync2_tests.js
etherpad/src/etherpad/collab/ace/linestylefilter.js
etherpad/src/static/js/ace.js
etherpad/src/static/js/colorutils.js
etherpad/src/static/js/cssmanager_client.js
etherpad/src/static/js/domline_client.js
etherpad/src/static/js/easysync2_client.js
etherpad/src/static/js/linestylefilter_client.js
etherpad/*.log
infrastructure/lib/cos.jar
build-arch-stamp
build-indep-stamp
configure-stamp
infrastructure/lib/mysql-connector*.jar
debian/etherpad.debhelper.log
debian/etherpad.*.debhelper
debian/etherpad.substvars
debian/etherpad
debian/files
etherpad/src/plugins/fileUpload/upload
build-stamp
infrastructure/lib/mysql-*.jar
.DS_Store
strace.out
