<% var tagSelectors = template.callHook('twitterStyleTagsTagSelector'); %>
<% if (tagSelectors.length > 0) { %>
  <td>&nbsp;&nbsp;</td>
  <td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
    <%= tagSelectors.join('') %>
  <td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
<% } %>
