<%
 helpers.includeJs('plugins/fileUpload/ajaxupload.js');
 helpers.includeJs('plugins/fileUpload/fileUpload.js');
%>
<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst">
  <a id="uploadFileSubmit" href="javascript:void(0)" title="Upload"><img src="/static/html/plugins/fileUpload/editbar_upload.gif"></a>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
