<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.includeJQuery() %>
<% helpers.includeJs("pro/guest-knock-client.js") %>
<% helpers.includeCss("pro/account.css") %>

<div id="guest-knock-box">
  <p>
    <img src="/static/img/misc/status-ball.gif">
    Waiting for approval...
  </p>
</div>

<div id="guest-knock-denied">
  Access Denied.
</div>

