<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.setHtmlTitle("EtherPad: Create a new pad?"); %>
<%
 template.inherit('page.ejs');
%>

<% template.define('docBarTitle', function() { var ejs_data=''; %>
  <td id="docbarpadtitle"><span>Create new pad</span></td>
<% return ejs_data; }); %>


<% template.define('editBarItemsLeft', function() { var ejs_data=''; %>
  <td>
    <h1>http://<%= request.host %>/<%= toHTML(padId) %> does not yet exist</h1>
  </td>
<% return ejs_data; }); %>

<% template.define('contentArea', function() { var ejs_data=''; %>
  <div id="editorcontainer">
  </div>
<% return ejs_data; }); %>

<% template.define('sideBar', function() { var ejs_data=''; %>
  <div id="padsidebarfull">
  </div>
<% return ejs_data; }); %>


<% template.define('modals', function() { var ejs_data=''; %>
  <script>
   $(document).ready(function () {
     padmodals.showModal("#createbox");
   });
  </script>
  <div id="modaloverlay"><div id="modaloverlay-inner"><!-- --></div></div>

  <div id="mainmodals">
    <div id="createbox" class="modaldialog">
      <div id="createbox-inner" class="modaldialog-inner">
	<form action="<%= request.path %>" method="post">
	  <input type="hidden" name="padId" value="<%= toHTML(padId) %>" />
	  <input type="submit" id="createPad" class="bigbutton" value="Yes, please create the pad" />
	</form>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>

<% return ejs_data; }); %>
