 <%
// template.inherit('page.ejs');
 %>
 
 <h1> <%=section%></h1>
 
 <% for(var i in  pads){
 	var pad = pads[i]; %>
	<p> <a href='<%= groupBasedId(pad.id) %>'><%=  shortName(pad.id) %></a> </p>
 <%}%>
 
 
 