<% helpers.includeCss("plugins/langTag/langTag.css"); %>
<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst">
  <a href="javascript:void(0)" title="Select language" onclick="langTag.langTagClicked();"><img src="/static/html/plugins/langTag/editbar_langtag.gif"></a>
  <div id="langTag-language-selector">
    <ul>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('aa');">Afaraf</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ab');">аҧсуа</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ae');">avesta</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('af');">Afrikaans</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('af_ZA');">Afrikaans, as spoken in South Africa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ak');">Akan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('am');">አማርኛ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('an');">Aragonés</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar_AR');">العربية, as spoken in Argentina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar_EG');">العربية, as spoken in Egypt</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar_OM');">العربية, as spoken in Oman</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar_PS');">العربية, as spoken in Palestinian Territory, Occupied</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar_SA');">العربية, as spoken in Saudi Arabia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar_SY');">العربية, as spoken in Syrian Arab Republic</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ar');">العربية</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('as');">অসমীয়া</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('av');">авар мацӀ, магӀарул мацӀ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ay');">aymar aru</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('az');">azərbaycan dili</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('az_IR');">azərbaycan dili, as spoken in Iran</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ba');">башҡорт теле</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('be');">Беларуская</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bg_BG');">български език, as spoken in Bulgaria</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bg');">български език</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bh');">भोजपुरी</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bi');">Bislama</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bm');">bamanankan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bn_BD');">বাংলা, as spoken in Bangladesh</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bn_IN');">বাংলা, as spoken in India</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bn');">বাংলা</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bo');">བོད་ཡིག</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('br');">brezhoneg</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bs_BA');">bosanski jezik, as spoken in Bosnia and Herzegovina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bs');">bosanski jezik</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('bs_BS');">bosanski jezik, as spoken in Bahamas</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca_AD');">Català, com es parla en Andorra</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca');">Català</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca_ES');">Català, com es parla en Espanya</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca_ES@valencia');">Català,ca_ES@valencia Llengua desconeguda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca_ES@valencia');">Català,ca_ES@valencia Llengua desconeguda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca_FR');">Català, com es parla en França</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ca_IT');">Català, com es parla en Itàlia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ce');">нохчийн мотт</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ch');">Chamoru</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('co');">corsu, lingua corsa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cr');">ᓀᐦᐃᔭᐍᐏᐣ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cs');">česky, čeština</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cs_CZ');">česky, čeština, as spoken in Czech Republic</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cu');">ѩзыкъ словѣньскъ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cv');">чӑваш чӗлхи</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cy');">Cymraeg</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('cy_GB');">Cymraeg, as spoken in Great Britain</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('da');">dansk</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('da_DK');">dansk, as spoken in Denmark</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('de_AT');">Deutsch, wie in Österreich gesprochen</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('de_CH');">Deutsch, wie in Schweiz gesprochen</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('de_DE');">Deutsch, wie in Deutschland gesprochen</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('de');">Deutsch</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('dv');">ދިވެހި</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('dz');">རྫོང་ཁ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ee');">Eʋegbe</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('el_GR');">Ελληνικά, as spoken in Greece</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('el');">Ελληνικά</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_AU');">English, as spoken in Australia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_CA');">English, as spoken in Canada</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en');">English</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_GB');">English, as spoken in Great Britain</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_NZ');">English, as spoken in New Zealand</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_US');">English, as spoken in United States</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_US@piglatin');">English,en_US@piglatin Unknown language</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_US@piglatin');">English,en_US@piglatin Unknown language</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('en_ZA');">English, as spoken in South Africa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('eo');">Esperanto</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_AR');">español, castellano, as spoken in Argentina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_CL');">español, castellano, as spoken in Chile</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_CO');">español, castellano, as spoken in Colombia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_CR');">español, castellano, as spoken in Costa Rica</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_DO');">español, castellano, as spoken in Dominican Republic</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_EC');">español, castellano, as spoken in Ecuador</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_ES');">español, castellano, as spoken in Spain</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es');">español, castellano</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_GA');">español, castellano, as spoken in Gabon</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_GT');">español, castellano, as spoken in Guatemala</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_HN');">español, castellano, as spoken in Honduras</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_LA');">español, castellano, as spoken in Lao People's Democratic Republic</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_MX');">español, castellano, as spoken in Mexico</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_NI');">español, castellano, as spoken in Nicaragua</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_PA');">español, castellano, as spoken in Panama</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_PE');">español, castellano, as spoken in Peru</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_PR');">español, castellano, as spoken in Puerto Rico</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_SV');">español, castellano, as spoken in El Salvador</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_UY');">español, castellano, as spoken in Uruguay</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('es_VE');">español, castellano, as spoken in Venezuela</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('et_EE');">eesti, eesti keel, as spoken in Estonia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('et');">eesti, eesti keel</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('eu_ES');">euskara, euskera, as spoken in Spain</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('eu');">euskara, euskera</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fa_AF');">فارسی, as spoken in Afghanistan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fa_IR');">فارسی, as spoken in Iran</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fa');">فارسی</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ff');">Fulfulde, Pulaar, Pular</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fi_FI');">suomi, suomen kieli, puhealue Suomi</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fi');">suomi, suomen kieli</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fj');">vosa Vakaviti</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fo_FO');">føroyskt, as spoken in Faroe Islands</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fo');">føroyskt</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr_BE');">français, Belgique</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr_CA');">français, Canada</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr_CH');">français, Suisse</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr');">français, langue française</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr_FR');">français, France</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr_FX');">français, France, Metropolitan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fr_LU');">français, Luxembourg</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fy');">Frysk</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('fy_NL');">Frysk, as spoken in Netherlands</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ga');">Gaeilge</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('gd');">Gàidhlig</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('gl_ES');">Galego, as spoken in Spain</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('gl');">Galego</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('gn');">Avañe'ẽ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('gu');">ગુજરાતી</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('gv');">Gaelg, Gailck</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ha');">Hausa, هَوُسَ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('he_IL');">עברית, as spoken in Israel</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('he');">עברית</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hi');">हिन्दी, हिंदी</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ho');">Hiri Motu</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hr_HR');">hrvatski, as spoken in Croatia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hr');">hrvatski</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ht');">Kreyòl ayisyen</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hu_HU');">Magyar, as spoken in Hungary</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hu');">Magyar</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hy');">Հայերեն</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('hz');">Otjiherero</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ia');">Interlingua</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('id');">Bahasa Indonesia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('id_ID');">Bahasa Indonesia, as spoken in Indonesia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ie');">Originally called Occidental; then Interlingue after WWII</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ig');">Asụsụ Igbo</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ii');">ꆈꌠ꒿ Nuosuhxop</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ik');">Iñupiaq, Iñupiatun</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('io');">Ido</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('is_IS');">Íslenska, as spoken in Iceland</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('is');">Íslenska</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('it_CH');">Italiano, come parlato in Svizzera</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('it');">Italiano</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('it_IT');">Italiano, come parlato in Italia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('iu');">ᐃᓄᒃᑎᑐᑦ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ja_JP');">日本語 (にほんご／にっぽんご),ja_JP 日本で話されている&#26085;&#26412;&#35486;</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ja');">日本語 (にほんご／にっぽんご)</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('jv');">basa Jawa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('jv_ID');">basa Jawa,jv_ID Unknown language</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ka');">ქართული</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kg');">KiKongo</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ki');">Gĩkũyũ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kj');">Kuanyama</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kk');">Қазақ тілі</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kl');">kalaallisut, kalaallit oqaasii</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('km');">ភាសាខ្មែរ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('km_KH');">ភាសាខ្មែរ, as spoken in Cambodia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kn');">ಕನ್ನಡ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ko_KR');">한국어 (韓國語), 조선말 (朝鮮語), as spoken in Korea</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ko');">한국어 (韓國語), 조선말 (朝鮮語)</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kr');">Kanuri</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ks');">कश्मीरी, كشميري‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ku');">Kurdî, كوردی‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kv');">коми кыв</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('kw');">Kernewek</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ky');">кыргыз тили</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('la');">latine, lingua latina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lb');">Lëtzebuergesch</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lg');">Luganda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('li');">Limburgs</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ln');">Lingála</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lo');">ພາສາລາວ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lt');">lietuvių kalba</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lt_LT');">lietuvių kalba, as spoken in Lithuania</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lu');"></a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lv');">latviešu valoda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('lv_LV');">latviešu valoda, as spoken in Latvia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mg');">Malagasy fiteny</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mh');">Kajin M̧ajeļ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mi');">te reo Māori</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mk_MK');">македонски јазик, as spoken in Macedonia, the Former Yugoslav Republic of</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mk');">македонски јазик</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ml_IN');">മലയാളം, as spoken in India</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ml_ML');">മലയാളം, as spoken in Mali</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ml');">മലയാളം</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mn');">монгол</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mr');">मराठी</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ms');">bahasa Melayu, بهاس ملايو‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ms_MY');">bahasa Melayu, بهاس ملايو‎, as spoken in Malaysia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('mt');">Malti</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('my_MM');">ဗမာစာ, as spoken in Myanmar</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('my');">ဗမာစာ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('na');">Ekakairũ Naoero</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nb_NO');">Norsk bokmål, as spoken in Norway</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nb');">Norsk bokmål</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nd');">isiNdebele</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ne');">नेपाली</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ng');">Owambo</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nl_BE');">Nederlands, Vlaams, as spoken in Belgium</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nl');">Nederlands, Vlaams</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nl_NL');">Nederlands, Vlaams, as spoken in Netherlands</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nn_NO');">Norsk nynorsk, as spoken in Norway</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nn');">Norsk nynorsk</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('no_NO');">Norsk, as spoken in Norway</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('no');">Norsk</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nr');">isiNdebele</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('nv');">Diné bizaad, Dinékʼehǰí</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ny');">chiCheŵa, chinyanja</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('oc_FR');">Occitan, as spoken in France</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('oc');">Occitan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('oj');">ᐊᓂᔑᓈᐯᒧᐎᓐ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('om');">Afaan Oromoo</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('or');">ଓଡ଼ିଆ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('os');">ирон æвзаг</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pa');">ਪੰਜਾਬੀ, پنجابی‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pi');">पाऴि</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pl_PL');">polski, u¿ywany w Polska</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pl');">polski</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ps');">پښتو</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pt_BR');">Português,pt_BR Português - Brasil</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pt');">Português</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('pt_PT');">Português,pt_PT Português - Portugal</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('qu');">Runa Simi, Kichwa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('rm');">rumantsch grischun</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('rn');">kiRundi</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ro');">română</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ro_RO');">română, as spoken in Romania</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ru_RU');">русский язык, ÓÔÒÁÎÁ - òÏÓÓÉÑ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ru');">русский язык</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('rw');">Ikinyarwanda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sa');">संस्कृतम्</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sc');">sardu</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sd');">सिन्धी, سنڌي، سندھی‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('se');">Davvisámegiella</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('se_NO');">Davvisámegiella, as spoken in Norway</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sg');">yângâ tî sängö</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('si_LK');">සිංහල, as spoken in Sri Lanka</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('si_SI');">සිංහල, as spoken in Slovenia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('si');">සිංහල</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sk_SK');">slovenčina, as spoken in Slovakia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sk');">slovenčina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sl_SI');">slovenščina, as spoken in Slovenia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sl');">slovenščina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sl_SL');">slovenščina, as spoken in Sierra Leone</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sm');">gagana fa'a Samoa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sn');">chiShona</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('so');">Soomaaliga, af Soomaali</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sq_AL');">Shqip, as spoken in Albania</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sq');">Shqip</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sr_SR');">српски језик, as spoken in Suriname</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sr_YU');">српски језик, as spoken in Yugoslavia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sr');">српски језик</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ss');">SiSwati</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('st');">Sesotho</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('su');">Basa Sunda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('su_ID');">Basa Sunda, as spoken in Indonesia</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sv_SE');">svenska, som det talas i Sverige</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sv');">svenska</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('sw');">Kiswahili</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ta_LK');">தமிழ், as spoken in Sri Lanka</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ta');">தமிழ்</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('te');">తెలుగు</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tg');">тоҷикӣ, toğikī, تاجیکی‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('th');">ไทย</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('th_TH');">ไทย, as spoken in Thailand</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ti');">ትግርኛ</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tk');">Türkmen, Түркмен</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tl');">Wikang Tagalog, ᜏᜒᜃᜅ᜔ ᜆᜄᜎᜓᜄ᜔</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tn');">Setswana</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('to');">faka Tonga</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tr_TR');">Türkçe, as spoken in Turkey</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tr');">Türkçe</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ts');">Xitsonga</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tt');">татарча, tatarça, تاتارچا‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('tw');">Twi</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ty');">Reo Tahiti</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ug_CN');">Uyƣurqə, ئۇيغۇرچە‎, as spoken in China</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ug_UG');">Uyƣurqə, ئۇيغۇرچە‎, as spoken in Uganda</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ug');">Uyƣurqə, ئۇيغۇرچە‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('uk_UA');">українська, Україна</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('uk');">українська</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ur_PK');">اردو, as spoken in Pakistan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ur');">اردو</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('uz');">O'zbek, Ўзбек, أۇزبېك‎</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('ve');">Tshivenḓa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('vi_AR');">Tiếng Việt, as spoken in Argentina</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('vi_PL');">Tiếng Việt, as spoken in Poland</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('vi');">Tiếng Việt</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('vi_VN');">Tiếng Việt, as spoken in Vietnam</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('vo');">Volapük</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('wa');">Walon</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('wo');">Wollof</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('xh');">isiXhosa</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('yi');">ייִדיש</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('yo');">Yorùbá</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('za');">Saɯ cueŋƅ, Saw cuengh</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('zh_CN');">中文 (Zhōngwén), 汉语, 漢語, as spoken in China</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('zh_HK');">中文 (Zhōngwén), 汉语, 漢語, as spoken in Hong Kong</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('zh_TW');">中文 (Zhōngwén), 汉语, 漢語, as spoken in Taiwan</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('zh');">中文 (Zhōngwén), 汉语, 漢語</a></li>
     <li><a href="javascript:void(0)" onclick="langTag.langTagSelectLangClicked('zu');">isiZulu</a></li>
    </ul>
  </div>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
