<% /*
 don't use helpers.includeJs here since it will try to compress dojo,
 which will make dojo unable to know where it's loaded from, and hence
 how to load more modules
*/ %>
<script src="/static/js/plugins/openingDesign/dojo/dojo.js"></script>
<script src="/static/js/plugins/openingDesign/designer.js"></script>

<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst">
  <a href="javascript:openingDesign.insertImage()" title="OpeningDesign"><img src="/static/html/plugins/openingDesign/editbar_icon.png"></a>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
