#editorcontainer {
 padding: 5pt;
 height: auto;
}

#editorcontainerbox {
 overflow: auto;
 height: auto;
}

#editbarinner {
 line-height: 36px;
 font-size: 16px;
 padding-left: 6pt;
}

#editbarinner a {
 font-size: 12px;
}

#editorcontainerbox table {
 margin: 10pt;
 border-collapse: collapse;
}

#editorcontainerbox table tr th {
 font-weight: bold;
 background: #c3c3c3;
}

#editorcontainerbox table tr td,
#editorcontainerbox table tr th {
 border: 1px solid #c3c3c3;
 padding: 2pt;
}

#editorcontainerbox table tr:first-child th,
#editorcontainerbox table tr:first-child td {
 border-top-color: #e6e6e6;
}

#editorcontainerbox table tr th:first-child,
#editorcontainerbox table tr td:first-child {
 border-left-color: #e6e6e6;
}

.mousover_parent .mouseover_child {
 display: none;
 position: absolute;
 padding: 4pt;
 
 border-top-color: #e6e6e6;
 border-bottom-color: #c3c3c3;
 border-left-color: #e6e6e6;
 border-right-color: #c3c3c3;
 border: 1px solid;

 background: #ffffff;
}

.mousover_parent:hover .mouseover_child {
 display: block;
}
