.syntax .t1 {font-style:italic;color:#2AC300;}
.syntax .t2 {color:#CC6633;}
.syntax .t3 {font-weight:bold;color:#6699FF;}
.syntax .t4 {color:#A700CC;}
.syntax .t5 {color:#000000;}
.syntax .t6 {font-weight:bold;color:#000CFF;}
.syntax .t7 {color:#318495;}
.syntax .t8 {color:#33CC33;}
.syntax .t9 {color:#1A921C;}
.syntax .t10 {font-weight:bold;color:#0C450D;}
.syntax .t11 {font-weight:bold;color:#000099;}
.syntax .t12 {}
.syntax .t13 {}
.syntax .t14 {}
.syntax .t15 {color:#70727E;}
.syntax .t16 {font-style:italic;color:#000000;}
.syntax .t17 {color:#990099;}
.syntax .t18 {color:#CC6633;}
.syntax .t19 {color:#990099;}
.syntax .t20 {color:#CC6633;}
.syntax .t21 {color:#000000;}
.syntax .t22 {color:#990000;font-weight:bold;}
.syntax .t23 {}
.syntax .t24 {}
.syntax .t25 {}
.syntax .t26 {color:#68685B;}
.syntax .t27 {color:#888888;}
.syntax .t28 {font-style:italic;}
.syntax .t29 {color:#1C02FF;}
.syntax .t30 {font-weight:bold;}
.syntax .t31 {font-style:italic;}
.syntax .t32 {font-weight:bold;color:#0C07FF;}
.syntax .t33 {font-style:italic;color:#000000;}
.syntax .t34 {color:#B90690;}
.syntax .t35 {color:#666666;}
