<td>&nbsp;&nbsp;</td>
<td></td>
<td>
        <span id="textColorPalette">
		<span id = "textCPplaceholder"></span>
        </span>
	 <span id="bgColorPalette">
		<span id = "bgCPplaceholder"></span>
        </span>
	<span id="fontfamilyplaceholder" style="width:100px;">
	</span>
	<span id="fontsizeplaceholder">
	</span>
</td>
<td></td>
