<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst">
  <a href="javascript:void(0)" title="Select language" onclick="debugRaiseException.debugRaiseExceptionClicked();"><img src="/static/html/plugins/debugRaiseException/editbar_crash.gif"></a>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
