<div id="readonlyPad" class="readonlyPadHidden">
    <input type="checkbox" name="readonlyPad" id="readonlyPadCheckbox" value="readonly"/>
    <label for="readonlyPad" id="readonlyPad-label"><strong>Public-Readonly</strong> (Readonly for guests)</label>
</div>