<%
 helpers.includeJs('plugins/heading1/heading1.js');
%>
<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst">
  <a href="javascript:heading1clicked()" title="Heading1"><img src="/static/html/plugins/heading1/editbar_heading1.gif"></a>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
