<% helpers.includeCss("plugins/licenseTag/licenseTag.css"); %>
<a href="javascript:void(0)" title="Select license" onclick="licenseTag.licenseTagClicked();"><img src="/static/html/plugins/licenseTag/editbar_licensetag.gif"></a>
<div id="licenseTag-license-selector">
  <ul>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('BSD');">(Modified) BSD License</a> &nbsp; <a href="http://www.freebsd.org/copyright/freebsd-license.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('MIT');">MIT License</a> &nbsp; <a href="http://opensource.org/licenses/mit-license.php">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('APSL-2');">Apache License 2.0</a> &nbsp; <a href="http://www.apache.org/licenses/LICENSE-2.0.html">?</a></li>


   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('GPL-3+');">GNU General Public License (GPL) 3 version 3 or later</a> &nbsp; <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('LGPL-3+');">GNU Lesser General Public License (LGPL) version 3 or later</a> &nbsp; <a href="http://www.gnu.org/licenses/lgpl-3.0-standalone.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('GPL-3');">GNU General Public License (GPL) version 3</a> &nbsp; <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('LGPL-3');">GNU Lesser General Public License (LGPL) version 3</a> &nbsp; <a href="http://www.gnu.org/licenses/lgpl-3.0-standalone.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('GPL-2+');">GNU General Public License (GPL) 2 version 2 or later</a> &nbsp; <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('LGPL-2.1+');">GNU Lesser General Public License (LGPL) version 2.1 or later</a> &nbsp; <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('GPL-2');">GNU General Public License (GPL) version 2</a> &nbsp; <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('LGPL-2.1');">GNU Lesser General Public License (LGPL) version 2.1</a> &nbsp; <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">?</a></li>


   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('CC-by-3.0');">Createive Commons Attribution 3.0</a> &nbsp; <a href="http://creativecommons.org/licenses/by/3.0/">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('CC-by-nd-3.0');">Createive Commons Attribution-NoDerivs 3.0</a> &nbsp; <a href="http://creativecommons.org/licenses/by-nd/3.0/">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('CC-by-nc-nd-3.0');">Createive Commons Attribution-NonCommercial-NoDerivs 3.0</a> &nbsp; <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('CC-by-nc-3.0');">Createive Commons Attribution-NonCommercial 3.0</a> &nbsp; <a href="http://creativecommons.org/licenses/by-nc/3.0/">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('CC-by-nc-sa-3.0');">Createive Commons Attribution-NonCommercial-ShareAlike 3.0</a> &nbsp; <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">?</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('CC-by-sa-3.0');">Createive Commons Attribution-ShareAlike 3.0</a> &nbsp; <a href="http://creativecommons.org/licenses/by-sa/3.0/">?</a></li>

   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('proprietary');">It's mine, mine mine mine! I'm a seagull!</a> &nbsp; <a href="">?</a></li>
  </ul>
</div>
