<% helpers.addBodyClass("tundra"); %>
<% /*
 don't use helpers.includeJs here since it will try to compress dojo,
 which will make dojo unable to know where it's loaded from, and hence
 how to load more modules
*/ %>
<script src="/static/js/plugins/sketchSpace/dojo/dojo.js"></script>
<script src="/static/js/plugins/sketchSpace/sketchSpaceDesigner/designer.js"></script>
<link rel="stylesheet" href="/static/js/plugins/sketchSpace/dijit/themes/tundra/tundra.css" />
<link rel="stylesheet" href="/static/js/plugins/sketchSpace/dojox/widget/ColorPicker/ColorPicker.css"/>

<style>
 #sketchSpaceDebug {
  position: absolute; left: 0; top: 36px; border: 1px solid #C4C4C4; width: 300px; height: 300px; background: white;
 }
 #sketchSpaceEditBar {
  position: absolute; left: 0; top: 0; width: 302px; height: 36px; background: white;
 }
</style>

<div id="sketchSpaceDebug"></div>

<div id="sketchSpaceEditBar">
  <div class="editbar enabledtoolbar" id="editbar">
    <div class="editbarinner" id="editbarinner">
      <div class="editbarleft" id="editbarleft"><!-- --></div>
      <div class="editbarright" id="editbarright"><!-- --></div>      
      <div class="editbarinner" id="editbarinner">
	<table border="0" cellspacing="0" cellpadding="0" class="editbartable" id="editbartable">
	  <tbody><tr>

	    <td><img height="24" width="2" src="/static/img/jun09/pad/editbar_groupleft.gif"></td>
	    <td class="editbarbutton editbargroupsfirst" unselectable="on"><a title="Add circle" href="javascript:void (sketchSpace.editorArea.addCircle());"><img src="/static/html/plugins/sketchSpace/imgeditbar_add_circle_icon.png"></a></td>
	    <td class="editbarbutton" unselectable="on"><a title="Add ellipse" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('italic'));"><img src="/static/html/plugins/sketchSpace/imgeditbar_add_ellipse_icon.png"></a></td>
	    <td class="editbarbutton" unselectable="on"><a title="Add line" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('italic'));"><img src="/static/html/plugins/sketchSpace/imgeditbar_add_line_icon.png"></a></td>
	    <td class="editbarbutton" unselectable="on"><a title="Add rectangle" href="javascript:void (sketchSpace.editorArea.addRect());"><img src="/static/html/plugins/sketchSpace/imgeditbar_add_rect_icon.png"></a></td>
	    <td class="editbarbutton" unselectable="on"><a id="sketchSpaceAddImage" title="Add image" href="javascript:void (0);"><img src="/static/html/plugins/sketchSpace/imgeditbar_add_img_icon.png"></a></td>
	    <td><img height="24" width="2" src="/static/img/jun09/pad/editbar_groupright.gif"></td>

	    <td width="100%">&nbsp;</td>
	  </tr></tbody>
        </table>
	<table border="0" cellspacing="0" cellpadding="0" class="editbarsavetable" id="editbarsavetable">
	  <tbody><tr>

	    <td><img height="24" width="2" src="/static/img/jun09/pad/editbar_groupleft.gif"></td>
	    <td class="editbarbutton editbargroupsfirst" unselectable="on"><a href="javascript:void (sketchSpace.editorArea.foregroundColorPickerPopup());" id="foregroundColorPicker">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
	    <td class="editbarbutton" unselectable="on"><a href="javascript:void (sketchSpace.editorArea.backgroundColorPickerPopup());" id="backgroundColorPicker">&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
	    <td><img height="24" width="2" src="/static/img/jun09/pad/editbar_groupright.gif"></td>

	    <td><img height="24" width="2" src="/static/img/jun09/pad/editbar_groupleft.gif"></td>
	    <td class="editbarbutton editbargroupsfirst" unselectable="on"><a title="Select objects" href="javascript:void (window.pad&amp;&amp;pad.editbarClick('italic'));"><img src="/static/html/plugins/sketchSpace/imgeditbar_select_icon.png"></a></td>
	    <td class="editbarbutton" unselectable="on"> <a title="Delete objects" href="javascript:void (sketchSpace.editorArea.selection.editorSelectionShapeRemove());"><img src="/static/html/plugins/sketchSpace/imgeditbar_delete_icon.png"></a></td>
	    <td><img height="24" width="2" src="/static/img/jun09/pad/editbar_groupright.gif"></td>

	  </tr></tbody>
        </table>
      </div>
    </div>
  </div>

</div>
