<td class="sketchSpaceEditbarButtons">&nbsp;&nbsp;</td>
<td class="sketchSpaceEditbarButtons"><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst sketchSpaceEditbarButtons">
  <a href="javascript:sketchSpace.insertImage()" title="SketchSpace"><img src="/static/html/plugins/sketchSpace/editbar_icon.png"></a>
  <a href="javascript:void(0)" title="SketchSpace upload PDF" class="sketchSpaceAddPdfImage"><img src="/static/html/plugins/sketchSpace/editbar_pdf_icon.png"></a>
</td>
<td class="sketchSpaceEditbarButtons"><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
